<html>
  <head>
    <title>CRUD de Usuários</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <form>
      <div class="column">
        <a class="go-back" href="/users/">Voltar</a>
        <div class="label">Nome</div>
        <input type="text" name="name" >
        <div style="height: 18px"></div>
        <div class="label">Email</div>
        <input type="text" name="email" >
        <div style="height: 24px"></div>
        <button class="button bg-success">Salvar</button>
      </div>
    </form>
  </body>
</html>